aiohttp==1.0.5
async-timeout==3.0.0
certifi==2018.10.15
chardet==3.0.4
click==6.7
cs50==2.4.1
discord==0.0.2
discord.py==0.16.12
Django==2.1.2
docopt==0.6.2
feedparser==5.2.1
Flask==1.0.2
Flask-Session==0.3.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
multidict==4.4.2
numpy==1.15.3
pandas==0.23.4
pipreqs==0.4.9
psycopg2==2.7.5
pycodestyle==2.4.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
selenium==3.14.1
six==1.11.0
SQLAlchemy==1.2.12
sqlparse==0.2.4
termcolor==1.1.0
urllib3==1.23
websockets==3.4
Werkzeug==0.14.1
yarg==0.1.9
